$color-1: #ffffff !important;
$color-2: #f8f9fc !important;
$color-3: #e9e9ea !important;
$color-4: #c0bfcf !important;
$color-5: #9d9db5 !important;
$color-6: #625f87 !important;
$color-7: #192140 !important;
$color-8: #10131c !important;
$color-9: #d7f8ff !important;
$color-10: #dcf10d !important;
$color-11: #d1e31e !important;
$color-12: #f8814e !important;
$color-13: #0266ff !important;
