@import "mixins";
@import "variables";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";

.header {
  height: 90px;
  background-color: $color-7;
  align-items: end;
  padding: 3.125rem 0.625rem 1.25rem 0.625rem;
  justify-content: space-between;
  color: $color-10;
  font-weight: bold;
  font-family: sans-serif;
  .logo {
    font-size: 22px;
  }
  #currency {
    font-size: 16px;
    background-color: $color-7;
    border: none;
    color: $color-5;
  }
  .sign-in-btn {
    display: none;
    font-size: 12px;
  }
  .cart-icon {
    display: none;
  }
}
.card {
  width: 320px;
}
.productRatings {
  font-size: 12px;
  .stars {
    display: flex;
    gap: 3px;
  }
}
.buy-item {
  width: 64px !important;
  height: 32px;

  .plusMinus {
    display: none;
  }
  .buy-item-icon {
    display: block;
  }
}
.buy-item:hover {
  background-color: white;
  border: 1px solid $color-13;
  color: $color-13;
  width: 100%;
  display: flex;
  justify-content: space-between;
  .plusMinus {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .buy-item-icon {
    display: block;
  }
}
.headerCart {
  display: none;
}
.cart-count {
  position: relative;
  left: 10px;
  bottom: 30px;
  background-color: white;
  border-radius: 100%;
  height: 15px;
  width: 15px;
  font-size: 8px;
  display: grid;
  place-items: center;
}
.quantityButtons {
  width: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  button {
    @include normal-square-btn();
    padding: 0;
    height: 35px;
    width: 35px;
  }
}
.options {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  text-decoration: none;
  .sign-in-btn {
    @include normal-round-btn();
    padding-top: 10px;
    text-decoration: none;
  }
  .sign-in-btn:hover {
    @include hover-round-btn();
    padding-top: 10px;
    text-decoration: none;
  }
  .sign-in-btn:active {
    @include active-round-btn();
    padding-top: 10px;
    text-decoration: none;
  }
}
.product-buy-now,
.product-details {
  padding: 0px 10px;
}
.gray-color {
  color: $color-6;
}
.color-13 {
  background-color: $color-12;
}
.productsSection {
  background-color: color;
  .options {
    padding: 0.63rem;
    display: flex;
    justify-content: space-between;
    .cart-icon {
      width: 2.5rem;
      height: 2.5rem;
      border-radius: 100%;
      padding: 3px;
      border: 1px solid $color-5;
    }
    .sign-in-btn {
      @include normal-round-btn();
      display: inline-flex;
      padding: 0.625rem 1.25rem;
      justify-content: center;
      align-items: center;
      gap: 0.3125rem;
    }
    .sign-in-btn:hover {
      @include hover-round-btn();
      display: inline-flex;
      padding: 0.625rem 1.25rem;
      justify-content: center;
      align-items: center;
      gap: 0.3125rem;
    }
    .sign-in-btn:active {
      @include active-round-btn();
      display: inline-flex;
      padding: 0.625rem 1.25rem;
      justify-content: center;
      align-items: center;
      gap: 0.3125rem;
    }
  }
  .productsHeader {
    display: none;
    padding: 0;
    margin: 0;
  }
  .productImage {
    height: 165px;
    width: 100%;
  }
  .productDetails {
    background-color: $color-2;
    height: auto;
    .productDesc {
      height: auto;
    }
  }
}
.remove-item {
  @include normal-icon;
  height: 43px;
  width: 43px;
}
.header {
  .headerOptions {
    .profileLink {
      .header-logout {
        display: block;
      }
      .Name {
        display: none;
      }
    }
  }
}
.place-order-btn {
  @include normal-round-btn();
  width: 100%;
  height: 48px;
  padding: 0;
  display: grid;
  place-items: center;
}
.place-order-btn:hover {
  @include hover-round-btn();
  width: 100%;
  height: 48px;
  padding: 0;
  display: grid;
  place-items: center;
}
.place-order-btn:active {
  @include active-round-btn();
  width: 100%;
  height: 48px;
  padding: 0;
  display: grid;
  place-items: center;
}
.normal {
  @include normal-round-btn;
}
.place-order-buttons {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.continue-shopping {
  @include normal-round-btn();
  padding: 6px;
  width: 100%;
  height: 40px;
  text-align: center;
}
.productOptionCart {
  @include normal-icon();
  width: 48px;
  height: 48px;
  display: grid;
  place-items: center;
}
.productOptionCart:hover {
  @include hover-icon();
  width: 48px;
  height: 48px;
  display: grid;
  place-items: center;
}
.productOptionCart:active {
  @include active-icon();
  width: 48px;
  height: 48px;
  display: grid;
  place-items: center;
}
footer {
  background-color: $color-7;
}
.product-item {
  .product-add-to-cart {
    .add-to-cart-options {
      display: none;
      .shopping-cart-icon {
        padding-top: 7px;
        margin: 0;
        display: grid;
        place-items: center;
      }
    }
  }
  .product-add-to-cart:hover {
    background-color: $color-1;
    border: 1px solid $color-13;
    color: $color-13;
    .add-to-cart-options {
      display: block;
    }
    .add-to-cart-text {
      display: none;
    }
  }
}
@include media-breakpoint-up(lg) {
  .Name {
    display: none;
  }
  .product-item {
    padding: 60px 80px;
    display: grid;
    column-gap: 40px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 220px 100px 150px;
    .product-image {
      grid-column: 1/2;
      grid-row: 1/3;
      img {
        height: 320px;
        width: 500px;
      }
    }
    .other-images {
      grid-column: 1/2;
      grid-row: 3/4;
      img {
        width: 140px;
        height: 140px;
      }
    }
    .product-details {
      grid-column: 2/3;
      grid-row: 1/2;
    }
    .product-buy-now {
      grid-column: 2/3;
      grid-row: 3/4;
      padding-top: 20px;
    }
  }
  .productOptionCart {
    display: none;
  }
  .header {
    .headerOptions {
      .profileLink {
        .Name {
          display: block;
        }
        display: flex;
        width: 100%;
      }
      .cart-icon {
        display: block;
      }
      .sign-in-btn {
        display: block;
        @include normal-round-btn();
        text-decoration: none;
      }
      .sign-in-btn:hover {
        @include hover-round-btn();
      }
      .sign-in-btn:active {
        @include active-round-btn();
      }
    }
  }
  .headerCart {
    display: block;
  }
  .options {
    .sign-in-btn {
      display: none;
    }
  }
  .productsSection {
    padding-top: 20px;
    .options {
      display: none;
    }
  }
  .place-order-buttons {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr;
    .place-order-btn {
      grid-column: 5/6;
      grid-row: 1/2;
      @include normal-round-btn();
      width: 100%;
      padding: 0;
      display: grid;
      place-items: center;
      cursor: pointer;
    }
    .place-order-btn:hover {
      grid-column: 5/6;
      grid-row: 1/2;
      @include hover-round-btn();
      width: 100%;
      padding: 0;
      display: grid;
      place-items: center;
      cursor: pointer;
    }
    .place-order-btn:active {
      grid-column: 5/6;
      grid-row: 1/2;
      @include active-round-btn();
      width: 100%;
      padding: 0;
      display: grid;
      place-items: center;
      cursor: pointer;
    }
    .continue-shopping {
      @include normal-round-btn();
      border: 1px solid $color-13;
      color: $color-13;
      width: 100%;
      grid-column: 6/7;
      grid-row: 1/2;
      font-size: 1rem;
      padding: 0;
      display: grid;
      place-items: center;
      cursor: pointer;
    }
    .continue-shopping:hover {
      @include active-round-btn();
      width: 100%;
      grid-column: 6/7;
      grid-row: 1/2;
      font-size: 1rem;
      padding: 0;
      display: grid;
      place-items: center;
      cursor: pointer;
      color: white;
    }
    .continue-shopping:active {
      @include active-round-btn();
      width: 100%;
      grid-column: 6/7;
      grid-row: 1/2;
      font-size: 1rem;
      padding: 0;
      display: grid;
      place-items: center;
      cursor: pointer;
    }
  }
  .continue-shopping {
    width: 125px;
    padding-top: 10px;
    font-size: 0.75rem;
  }
}
